<div class = "row">
	<div class = "col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-3">
		<div class = "card">
			<div class = "card-header login_header">
				<h2><%=I18n.t('password.title')%></h2>
			</div>

			<div class = "card-body">
			  <%= form_for(resource, as: resource_name,
			      url: password_path(resource_name), 
			      html: { method: :post }) do |f| %>
  				<%= devise_error_messages! %>

  			  <div class="form-group">
    			  <%= f.label :email ,
    			  (I18n.t('password.email')) %><br />
    			  <%= f.email_field :email,
    			  autofocus: true,
    			  autocomplete: "email",
    			  class: "col-8 col-md-6 col-lg-6" %>
  			  </div>

  			  <div 
  			    style="padding-left: 0px">
    		    <%= f.submit (I18n.t('password.instructions')),
    		    class: 'btn btn-trunfo'%>
          </div>
        <% end %>
      <br>
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>		
